#syncPage(ng-controller='CirclesCtrl', ng-init="initAutocircles()")
  .page-header
    h1 AUTO CIRCLES SYNC
  div
    #tasks.row
      .col-lg-12
        button.btn.btn-warning.pull-right(ng-click='createAutocircle()') new circle
        button.btn.btn-primary.pull-right(ng-click='syncAutocircles()', style="margin-right: 10px") sync circles
        table.table.table-striped.table-condensed
          thead
            tr
              td 
                b CIRCLE NAME
              td 
                b IN CIRCLE
              td 
                b WITH CIRCLE
              td 
                b ACTION
          tbody
            tr(ng-repeat="circle in d.circles")
              td 
                input(ng-model="circle.name")
              td
                textarea(ng-model="circle.emails_in_circle", rows="10")
              td
                textarea(ng-model="circle.emails_with_circle", rows="10")
              td
                button.btn.btn-default(ng-click='updateAutocircle(circle)') save
                button.btn.btn-default(ng-click='deleteAutocircle(circle)') delete